################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tbf/v14/.suo
/x64/Debug/tbf.tlog
/x64/Debug
/x64/Release
tbf.VC.db
