################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tbf/v14/.suo
/x64/Debug/tbf.tlog
/x64/Debug
/x64/Release
tbf.VC.db
/tbf.VC.VC.opendb
*.opendb
*.db
/.vs/tbf/v15/Browse.VC.db
*.ipch
*.ipch
*.ipch
/.vs/tbf/v15/Solution.VC.db-wal
/.vs/tbf/v15/Solution.VC.db-shm
